pod2gen==1.0.3
yt-dlp[default]
bgutil-ytdlp-pot-provider
flask==3.1.2
gunicorn
httpx==0.28.1
parsel==1.10.0
dateparser==1.2.2
pydantic==2.12.4
ftfy==6.3.1
python-dotenv==1.2.1
xxhash==3.6.0
fake-useragent==2.2.0
