<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        background-color: #e1c4ee;
        font-family: 'Roboto', sans-serif;
      }
    </style>
    <h1>podtube</h1>
    <form method="post">
      <label for="user_input">Input YouTube username/channel id or YouTube URL of user/channel</label>
      <input type="text" name="user_input">
      <input type="submit" value="Get feed URL">
    </form> 
  </body>
</html>
